<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>allProducts</display-name>
    <servlet-name>allProducts</servlet-name>
    <servlet-class>Controllers.allProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allProducts</servlet-name>
    <url-pattern>/allProducts</url-pattern>
  </servlet-mapping>
  <display-name>Shooping_App</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Catogeries</display-name>
    <servlet-name>Catogeries</servlet-name>
    <servlet-class>Controllers.Catogeries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Catogeries</servlet-name>
    <url-pattern>/Catogeries</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CateWise</display-name>
    <servlet-name>CateWise</servlet-name>
    <servlet-class>Controllers.CateWise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CateWise</servlet-name>
    <url-pattern>/CateWise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinValidate</display-name>
    <servlet-name>PinValidate</servlet-name>
    <servlet-class>Controllers.PinValidate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinValidate</servlet-name>
    <url-pattern>/PinValidate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PriceCal</display-name>
    <servlet-name>PriceCal</servlet-name>
    <servlet-class>Controllers.PriceCal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PriceCal</servlet-name>
    <url-pattern>/PriceCal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>priceSort</display-name>
    <servlet-name>priceSort</servlet-name>
    <servlet-class>Controllers.priceSort</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>priceSort</servlet-name>
    <url-pattern>/priceSort</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chekOut</display-name>
    <servlet-name>chekOut</servlet-name>
    <servlet-class>Controllers.chekOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chekOut</servlet-name>
    <url-pattern>/chekOut</url-pattern>
  </servlet-mapping>
</web-app>